nav {
    background-color: #F55A5A;
    padding: 1rem;
    
}
.center {
    display: flex;
    margin: auto;
    width: 15%;
    color: #fff;
}
.center img {
    width: 20px;
    height: 20px;
    margin: auto 0;
}
.card--item {
    display: flex;
    margin: 2rem;
   
}
.picture img{
    width: 200px;
}
.Content {
    width: 40rem;
    margin-left: 2rem;
}
span {
    display: flex;
    align-items: center;
}
span div {
    margin-right: 5px;
}
span a {
    margin: 1rem;
    color: #918E9B;
}
